.button {
  display: inline-block;
  padding: 9px 53px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 48px;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.75%, #2188de), color-stop(97.75%, #2bcbc6));
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  -webkit-box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  color: #f6f7f7;
  font-weight: 700;
  letter-spacing: 3px;
}

.inner {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (width >= 1280px) {
  .inner {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.heading-1 {
  color: #238fdc;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  padding-bottom: 8px;
  position: relative;
}
@media (width >= 1280px) {
  .heading-1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3.6px;
  }
}
.heading-1::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  background: #2bc8c8;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.heading-2 {
  color: #228ddd;
  font-family: "Montserrat", sans-serif;
  margin-left: 10px;
}
@media (width >= 1280px) {
  .heading-2 {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.heading-2__en {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
}

.heading-2__ja {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.66px;
}

body {
  font-size: 16px;
  color: #333;
  line-height: 1.7;
  background: -webkit-gradient(linear, left top, left bottom, from(#eaf4f7), to(#fff));
  background: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);
  font-family: "Noto Sans JP", sans-serif;
}

/*****************************************
// header
******************************************/
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 15px 0;
}
@media (width >= 768px) and (width <= 1279px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
@media (width >= 1280px) {
  .header__inner {
    padding-top: 17px;
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__logo {
  width: 160px;
  height: 32px;
}

.header__nav {
  display: none;
}
@media (width >= 768px) and (width <= 1279px) {
  .header__nav {
    display: block;
  }
}
@media (width >= 1280px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 186px;
  }
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.nav__link::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 0;
  width: 122px;
  height: 5px;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.nav__link.active::before {
  background-color: #3f51b5;
}

@media (width >= 768px) and (width <= 1279px) {
  .nav__button {
    display: none;
  }
}

@media (width >= 768px) and (width <= 1279px) {
  .header__open {
    display: none;
  }
}
@media (width >= 1280px) {
  .header__open {
    display: none;
  }
}

/*****************************************
// drawer
******************************************/
.drawer-icon {
  position: relative;
  width: 40px;
  height: 20px;
  z-index: 60;
}
.drawer-icon.is-checked .drawer-icon__bar {
  background: #fff;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-child(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 3px;
  border-radius: 6px;
  background: #2082e0;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer-icon__bar:nth-child(2) {
  top: 10px;
}
.drawer-icon__bar:nth-child(3) {
  top: 20px;
}

.drawer-content {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 142, 221, 0.9)), to(rgba(43, 198, 201, 0.9)));
  background: linear-gradient(180deg, rgba(34, 142, 221, 0.9) 0%, rgba(43, 198, 201, 0.9) 100%);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  text-align: center;
  padding-top: 130px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__logo img {
  width: 180px;
}

.drawer-content__menu {
  margin-top: 60.05px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.drawer-content__link {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/*****************************************
// fv
******************************************/
.fv {
  text-align: center;
  padding-top: 44px;
  padding-bottom: 80px;
}

.fv__inner {
  padding-left: 15px;
  padding-right: 15px;
}
@media (width >= 1280px) {
  .fv__inner {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.fv__image img {
  width: 398px;
}
@media (width >= 1280px) {
  .fv__image img {
    width: 650px;
  }
}

.fv__content {
  margin-top: 40px;
}
@media (width >= 1280px) {
  .fv__content {
    margin-top: 0;
    padding-left: 2px;
    padding-top: 6px;
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.fv__logo img {
  width: 250px;
}

.fv__title {
  margin-top: 20px;
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 700;
}
@media (width >= 1280px) {
  .fv__title {
    margin-top: 24px;
    font-size: 26px;
  }
}

.fv__text {
  margin-top: 20px;
  font-weight: 400;
  line-height: 2;
}

.fv__button {
  margin-top: 30px;
}

/*****************************************
// news
******************************************/
.news {
  background: #fff;
}

.news__inner {
  padding-left: 15px;
  padding-right: 15px;
}
@media (width >= 768px) and (width <= 1279px) {
  .news__inner {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (width >= 1280px) {
  .news__inner {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

.news__items {
  margin-top: 46px;
}
@media (width >= 1280px) {
  .news__items {
    margin-top: 60px;
  }
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.news__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #e3e3e3;
}
.news__item:first-child {
  padding-bottom: 13px;
}
@media (width >= 768px) and (width <= 1279px) {
  .news__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
@media (width >= 1280px) {
  .news__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.news-link__date {
  display: block;
  font-size: 14px;
  font-weight: 400;
}
@media (width >= 768px) and (width <= 1279px) {
  .news-link__date {
    font-size: 16px;
    width: 120px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media (width >= 1280px) {
  .news-link__date {
    font-size: 16px;
    width: 120px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.news-link__title {
  color: #111;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
}
@media (width >= 768px) and (width <= 1279px) {
  .news-link__title {
    font-size: 16px;
  }
}
@media (width >= 1280px) {
  .news-link__title {
    font-size: 16px;
  }
}

.news-pagination {
  margin-top: 46px;
  text-align: center;
}
@media (width >= 768px) and (width <= 1279px) {
  .news-pagination {
    margin-top: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (width >= 1280px) {
  .news-pagination {
    margin-top: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.news-pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
@media (width <= 427px) {
  .news-pagination__list {
    gap: 5px;
  }
}

.news-pagination__item {
  min-width: 36px;
  height: 36px;
  border: 1px solid #828282;
  background: #fff;
  display: grid;
  place-items: center;
}
.news-pagination__item a {
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.44px;
}
.news-pagination__item:first-child, .news-pagination__item:last-child {
  border: none;
}

.news-pagination__button {
  margin-top: 30px;
  display: inline-block;
}
.news-pagination__button a {
  color: #2392db;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 4px 21px;
  border-radius: 2px;
  border: 1px solid #2392db;
  -webkit-box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
}
@media (width >= 768px) and (width <= 1279px) {
  .news-pagination__button {
    margin-top: 0;
  }
}
@media (width >= 1280px) {
  .news-pagination__button {
    margin-top: 0;
  }
}

/*****************************************
// concept
******************************************/
.concept__inner {
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (width >= 768px) and (width <= 1279px) {
  .concept__inner {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
  }
}
@media (width >= 1280px) {
  .concept__inner {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
  }
}

.concept__image {
  text-align: center;
}
.concept__image img {
  width: 310px;
}
@media (width >= 768px) and (width <= 1279px) {
  .concept__image img {
    width: 492px;
  }
}
@media (width >= 1280px) {
  .concept__image img {
    width: 492px;
  }
}

.concept__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (width >= 768px) and (width <= 1279px) {
  .concept__contents {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}
@media (width >= 1280px) {
  .concept__contents {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.concept__title {
  color: #228ddd;
  font-size: 24px;
  font-weight: 700;
}
@media (width >= 768px) and (width <= 1279px) {
  .concept__title {
    color: #228ddd;
    font-size: 26px;
  }
}
@media (width >= 1280px) {
  .concept__title {
    color: #228ddd;
    font-size: 26px;
  }
}

.concept__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
}

.concept__button {
  text-align: center;
}
@media (width >= 768px) and (width <= 1279px) {
  .concept__button {
    margin-top: 5px;
    text-align: left;
  }
}
@media (width >= 1280px) {
  .concept__button {
    margin-top: 5px;
    text-align: left;
  }
}

/*****************************************
// casestudy
******************************************/
@media (width >= 1280px) {
  .casestudy {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.casestudy__inner {
  padding-left: 20px;
  padding-right: 20px;
}
@media (width >= 1280px) {
  .casestudy__inner {
    padding-left: 0;
    padding-right: 0;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
}

.casestudy-card {
  border-radius: 4px;
  -webkit-box-shadow: 5px 7px 34px #f1f1f1;
          box-shadow: 5px 7px 34px #f1f1f1;
}
@media (width >= 1280px) {
  .casestudy-card {
    width: 320px;
  }
}

.casestudy-card__body {
  padding: 14px 10px;
}

.casestudy-card__title {
  color: #228ddd;
  font-size: 15px;
  font-weight: 700;
}

.casestudy-card__text {
  margin-top: 10px;
}
.casestudy-card__text span {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  margin-right: 6px;
}
@media (width >= 1280px) {
  .casestudy-card__text {
    margin-top: 6px;
  }
}

.casestudy-card__tag {
  margin-top: 10px;
  display: block;
  color: #9d9d9d;
  font-size: 12px;
  font-weight: 400;
}
@media (width >= 1280px) {
  .casestudy-card__tag {
    margin-top: 6px;
  }
}

.casestudy__button {
  margin-top: 30px;
  text-align: center;
}
.casestudy__button a {
  display: inline-block;
  color: #2392db;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 9px 52px;
  border-radius: 2px;
  border: 1px solid #2392db;
  -webkit-box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
}
@media (width >= 1280px) {
  .casestudy__button {
    margin-top: 16px;
  }
}

.swiper-container {
  position: relative;
  margin-top: 50px;
}
@media (width >= 1280px) {
  .swiper-container {
    margin-top: 40px;
  }
}

.swiper {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 66px;
}
@media (width >= 1280px) {
  .swiper {
    padding-left: 62px;
    padding-right: 62px;
  }
}

.swiper-wrapper {
  position: relative;
  margin-right: 62px;
}

.swiper-pagination-bullet {
  opacity: 1;
  background: #e1e1e1;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2f7dc8;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper-button-prev,
.swiper-button-next {
  width: 44px;
  height: 44px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
@media (width >= 1280px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -53px;
  }
}

.swiper-button-prev {
  left: 0;
  background: url(../img/prev-icon.png) no-repeat center center/contain;
}

.swiper-button-next {
  right: 0;
  background: url(../img/next-icon.png) no-repeat center center/contain;
}