@use "sass:map";

// fonts
$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.7;

// colors
$color-base: #333;
$bg-base-1: #fff;
$bg-base-2: #f4fbff;

// breakpoints
$breakpoints: (
  sp: "(width >= 320px) and (width <= 767px)",
  tb: "(width >= 768px) and (width <= 1279px)",
  pc: "(width >= 1280px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// inner
$width-inner: 1200px;

.button {
  display: inline-block;
  padding: 9px 53px;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  color: #f6f7f7;
  font-weight: 700;
  letter-spacing: 3px;

  &--white {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
  }
}

.inner {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.heading-1 {
  color: #238fdc;
  text-align: center;
  font-family: $font-family-en;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  padding-bottom: 8px;
  position: relative;

  @include mq(pc) {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3.6px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    background: #2bc8c8;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.heading-2 {
  color: #228ddd;
  font-family: $font-family-en;
  margin-left: 10px;

  @include mq(pc) {
    margin-left: 0;
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.heading-2__en {
  font-family: $font-family-en;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
}

.heading-2__ja {
  font-family: $font-family-ja;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.66px;
}

.hidden-sp {
  @include mq(sp) {
    display: none;
  }
}

.hidden-pc {
  @include mq(pc) {
    display: none;
  }
}

body {
  font-size: $font-size-base;
  color: $color-base;
  line-height: $line-height-base;
  background: $bg-base-2;
  font-family: $font-family-ja;
}

/*****************************************
// header
******************************************/
.header {
  background: #eaf4f7;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 15px 0;

  @include mq(tb) {
    flex-direction: column;
    gap: 20px;
  }

  @include mq(pc) {
    padding-top: 17px;
    max-width: calc($width-inner + 15px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.header__logo {
  width: 160px;
  height: 32px;
}

.header__nav {
  display: none;

  @include mq(tb) {
    display: block;
  }

  @include mq(pc) {
    display: flex;
    gap: 186px;
  }
}

.nav__inner {
  display: flex;
  gap: 46px;
  align-items: center;
}

.nav__link {
  font-weight: 500;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    width: 122px;
    height: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  &.active::before {
    background-color: #3f51b5;
  }
}

.nav__button {
  @include mq(tb) {
    display: none;
  }
}

.header__open {
  @include mq(tb) {
    display: none;
  }

  @include mq(pc) {
    display: none;
  }
}

/*****************************************
// drawer
******************************************/
.drawer-icon {
  position: relative;
  width: 40px;
  height: 20px;
  z-index: 60;

  &.is-checked {
    .drawer-icon__bar {
      background: #fff;
      &:nth-child(1) {
        top: 10px;
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        top: 10px;
        transform: rotate(-135deg);
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 3px;
  border-radius: 6px;
  background: #2082e0;
  transition: transform 0.3s linear;

  &:nth-child(2) {
    top: 10px;
  }
  &:nth-child(3) {
    top: 20px;
  }
}

.drawer-content {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(34, 142, 221, 0.9) 0%,
    rgba(43, 198, 201, 0.9) 100%
  );
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  text-align: center;
  padding-top: 130px;
  transform: translateX(100%);
  transition: transform 0.7s;

  &.is-checked {
    transform: translateX(0);
  }
}

.drawer-content__logo {
  img {
    width: 180px;
  }
}

.drawer-content__menu {
  margin-top: 60.05px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.drawer-content__link {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/*****************************************
// fv
******************************************/
.fv {
  background: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);
  text-align: center;
  padding-top: 44px;
  padding-bottom: 80px;
}

.fv__inner {
  padding-left: 15px;
  padding-right: 15px;

  @include mq(pc) {
    max-width: calc(1120px + 15px * 2);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.fv__image {
  img {
    width: 398px;

    @include mq(pc) {
      width: 650px;
    }
  }
}

.fv__content {
  margin-top: 40px;

  @include mq(pc) {
    margin-top: 0;
    padding-left: 2px;
    padding-top: 6px;
    text-align-last: left;
  }
}

.fv__logo {
  img {
    width: 250px;
  }
}

.fv__title {
  margin-top: 20px;
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 700;

  @include mq(pc) {
    margin-top: 24px;
    font-size: 26px;
  }
}

.fv__text {
  margin-top: 20px;
  font-weight: 400;
  line-height: 2;
}

.fv__button {
  margin-top: 30px;
}

/*****************************************
// news
******************************************/
.news {
  background: #fff;
}

.news__inner {
  padding-left: 15px;
  padding-right: 15px;

  @include mq(tb) {
    max-width: calc(930px + 15px * 2);
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(pc) {
    max-width: calc(930px + 15px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.news__title {
}

.news__items {
  margin-top: 46px;

  @include mq(pc) {
    margin-top: 60px;
  }
}

.news__item {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #e3e3e3;
  }

  &:first-child {
    padding-bottom: 13px;
  }

  @include mq(tb) {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  @include mq(pc) {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.news-link {
}

.news-link__meta {
}

.news-link__date {
  display: block;
  font-size: 14px;
  font-weight: 400;

  @include mq(tb) {
    font-size: 16px;
    width: 120px;
    flex-shrink: 0;
  }

  @include mq(pc) {
    font-size: 16px;
    width: 120px;
    flex-shrink: 0;
  }
}

.news-link__title {
  color: #111;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;

  @include mq(tb) {
    font-size: 16px;
  }

  @include mq(pc) {
    font-size: 16px;
  }
}

.news-pagination {
  margin-top: 46px;
  text-align: center;

  @include mq(tb) {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
  }

  @include mq(pc) {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
  }
}

.news-pagination__links {
}

.news-pagination__list {
  display: flex;
  justify-content: center;
  gap: 20px;

  @media (width <= 427px) {
    gap: 5px;
  }
}

.news-pagination__item {
  min-width: 36px;
  height: 36px;
  border: 1px solid #828282;
  background: #fff;
  display: grid;
  place-items: center;

  a {
    color: #707070;
    font-family: $font-family-en;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1.44px;
  }

  &:first-child,
  &:last-child {
    border: none;
  }
}

.news-pagination__button {
  margin-top: 30px;
  display: inline-block;

  a {
    color: #2392db;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 4px 21px;
    border-radius: 2px;
    border: 1px solid #2392db;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }

  @include mq(tb) {
    margin-top: 0;
  }

  @include mq(pc) {
    margin-top: 0;
  }
}

/*****************************************
// concept
******************************************/
.concept {
}

.concept__inner {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(tb) {
    max-width: calc(980px + 20px * 2);
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }

  @include mq(pc) {
    max-width: calc(980px + 20px * 2);
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }
}

.concept__image {
  text-align: center;

  img {
    width: 310px;

    @include mq(tb) {
      width: 492px;
    }

    @include mq(pc) {
      width: 492px;
    }
  }
}

.concept__contents {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(tb) {
    flex-basis: 60%;
  }

  @include mq(pc) {
    flex-basis: 50%;
  }
}

.concept__title {
  color: #228ddd;
  font-size: 24px;
  font-weight: 700;

  @include mq(tb) {
    color: #228ddd;
    font-size: 26px;
  }

  @include mq(pc) {
    color: #228ddd;
    font-size: 26px;
  }
}

.concept__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
}

.concept__button {
  text-align: center;

  @include mq(tb) {
    margin-top: 5px;
    text-align: left;
  }

  @include mq(pc) {
    margin-top: 5px;
    text-align: left;
  }
}

/*****************************************
// casestudy
******************************************/
.casestudy {
  background: #fff;

  @include mq(pc) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.casestudy__inner {
  padding-left: 20px;
  padding-right: 20px;

  @include mq(pc) {
    padding-left: 0;
    padding-right: 0;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
}

.casestudy__title {
}

.casestudy-slide {
}

.casestudy-card {
  border-radius: 4px;
  box-shadow: 5px 7px 34px #f1f1f1;

  @include mq(pc) {
    width: 320px;
  }
}

.casestudy-card__img {
  img {
  }
}

.casestudy-card__body {
  padding: 14px 10px;
}

.casestudy-card__title {
  color: #228ddd;
  font-size: 15px;
  font-weight: 700;
}

.casestudy-card__text {
  margin-top: 10px;

  span {
    color: #333;
    font-size: 12px;
    font-weight: 700;
    margin-right: 6px;
  }

  @include mq(pc) {
    margin-top: 6px;
  }
}

.casestudy-card__tag {
  margin-top: 10px;
  display: block;
  color: #9d9d9d;
  font-size: 12px;
  font-weight: 400;

  @include mq(pc) {
    margin-top: 6px;
  }
}

.casestudy__button {
  margin-top: 30px;
  text-align: center;

  a {
    display: inline-block;
    color: #2392db;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 9px 52px;
    border-radius: 2px;
    border: 1px solid #2392db;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }

  @include mq(pc) {
    margin-top: 16px;
  }
}

// ============================
// swiper
// ============================

.swiper-container {
  position: relative;
  margin-top: 50px;

  @include mq(pc) {
    margin-top: 40px;
  }
}
.swiper {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 66px;

  @include mq(pc) {
    padding-left: 62px;
    padding-right: 62px;
  }
}
.swiper-wrapper {
  position: relative;
  margin-right: 62px;
}

//色と大きさ指定
.swiper-pagination-bullet {
  opacity: 1;
  background: #e1e1e1;
  width: 12px;
  height: 12px;
  border-radius: 50%; //円にする
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2f7dc8;
}
//paginationの余白指定
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 6px;
}
//paginationの位置
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-button-prev,
.swiper-button-next {
  width: 44px;
  height: 44px;

  &::after {
    content: ""; //デフォルトの削除
  }

  @include mq(pc) {
    margin-top: -53px;
  }
}

.swiper-button-prev {
  left: 0;
  background: url(../img/prev-icon.png) no-repeat center center / contain;
}

.swiper-button-next {
  right: 0;
  background: url(../img/next-icon.png) no-repeat center center / contain;
}

/*****************************************
// price
******************************************/
.price {
}

.price__inner {
  padding-left: 64px;
  padding-right: 64px;
  display: grid;
  place-content: center;

  @media (width <= 375px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mq(tb) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc(960px + 30px * 2);
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc(960px + 30px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.price__title {
}

.price__card-container {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(tb) {
    margin-top: 40px;
    flex-direction: row;
  }

  @include mq(pc) {
    margin-top: 40px;
    flex-direction: row;
  }
}

.price__card-item {
}

.price-card {
  padding: 30px 20px;
  max-width: calc(300px + 20px * 2);
  border-radius: 10px;
  background: #fff;
}

.price-card__title {
  text-align: center;
}

.price-card__title-main {
  color: #2392db;
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
}

.price-card__title-sub {
  margin-top: 7px;
  color: #2392db;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 3.6px;

  span {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.7;
  }
}

.price-card__body {
  margin-top: 34px;

  @include mq(pc) {
    margin-top: 30px;
  }
}

.price-card__table {
  width: 100%;
  // デフォルトで線が二重になるのでこれを一つにする
  border-collapse: collapse;

  // テーブルの列幅を均等にする
  table-layout: fixed;
  tr {
    border-bottom: 1px solid #c2c2c2;
  }

  .td-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 6px 12px 5px;
  }

  td {
    color: #333;
    &:nth-child(2) {
      text-align: right;
    }
  }
}

.price-card__button {
  margin-top: 30px;
  text-align: center;
}

/*****************************************
// company
******************************************/
.company {
  background: #fff;
}

.company__inner {
  padding-left: 15px;
  padding-right: 15px;
}

.company__title {
}

.company__body {
  margin-top: 72px;
  border: 2px solid #2392db;
  position: relative;
  height: 510px;

  @include mq(tb) {
    max-width: calc(900px + 30px * 2);
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(pc) {
    max-width: calc(900px + 30px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.company__tabs {
  display: flex;
  justify-content: center;
  width: 95%;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
}

.company__tab-item {
  flex: 1;
  max-width: 122px;
  padding: 9px 20px;
  color: #2392db;
  font-weight: 700;
  box-shadow: 5px 7px 34px 0px #f1f1f1;
  background: #fff url(../img/company-arrow-blue.png) no-repeat center left 12px /
    10px 7px;

  &:nth-child(n + 2) {
    border-left: 1px solid #2392db;
  }

  &.active {
    color: #fff;
    background: #2392db url(../img/company-arrow-white.png) no-repeat center
      left 12px / 10px 7px;
  }

  @media (width <= 375px) {
    padding: 8px;
    font-size: 12px;
  }
}

.company__contents {
  padding: 60px 30px;

  @media (width <= 427px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.company__content {
  display: none;

  &.active {
    display: block;
  }
}

.company-info {
}

.company-info__title {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.company-info__table {
  margin-top: 67px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  table-layout: fixed;

  @media (width <= 427px) {
    width: 250px;
    font-size: 12px;
  }

  th,
  td {
    border: 1px solid #000;
    height: 53px;
    vertical-align: middle;
  }

  tr:nth-child(3) {
    th,
    td {
      height: 79px;
    }
  }

  th {
    text-align: center;
    background: #f2f2f2;
    font-weight: 700;
  }

  td {
    padding-left: 10px;
    color: #333;
  }
}

.company__history {
  text-align: center;
}

.company__history-item {
  color: #2392db;
  font-weight: 700;

  &::before {
    content: "•";
    font-size: 20px;
    color: #2bcbc6;
  }

  &:nth-child(n + 2) {
    margin-top: 16px;
  }

  span {
    margin-left: 12px;
    display: block;
    color: #000;
    font-weight: 400;
  }
}

.company__certification {
  @include mq(pc) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    &:first-child {
      color: #2392db;
      font-weight: 700;
    }

    &:last-child {
      margin-top: 14px;
      color: #333;
      font-weight: 400;
      line-height: 1.7;
    }
  }
}
/*****************************************
// cta
******************************************/
.cta {
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
}

.cta__inner {
  color: #fff;
  text-align: center;
}

.cta__title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2.6px;
}

.cta__text {
  margin-top: 8px;
  letter-spacing: 1.6px;
}

.cta__button {
  margin-top: 17px;
}
