// fonts
$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.7;

// colors
$color-base: #333;
$bg-base-1: #fff;
$bg-base-2: #f4fbff;

// breakpoints
$breakpoints: (
  sp: "(width <= 428px)",
  tb: "(width >= 429px) and (width <= 1024px)",
  pc: "(width >= 1025px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// inner
$width-inner: 1200px;

body {
  font-size: $font-size-base;
  color: $color-base;
  line-height: $line-height-base;
  background: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);
  font-family: $font-family-ja;
}

/*****************************************
// ヘッダー
******************************************/
.header {
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 15px 44px;

  @include mq(tb) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 15px 44px;
  }

  @include mq(pc) {
    max-width: calc($width-inner + 15px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.header__logo {
  width: 160px;
  height: 32px;
}

.header__nav {
  display: none;

  @include mq(tb) {
    display: none;
  }

  @include mq(pc) {
    display: flex;
    gap: 169px;
  }
}

.nav__inner {
  display: flex;
  gap: 46px;
  align-items: center;
}

.nav__link {
  font-weight: 500;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    width: 122px;
    height: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  &.active::before {
    background-color: #3f51b5;
  }
}

.nav__button-inner {
}

.nav__button {
  display: inline-block;
  padding: 9px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 48px;
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  color: #f6f7f7;
  font-weight: 700;
  letter-spacing: 3px;
}

.header__open {
  @include mq(pc) {
    display: none;
  }
}

/*****************************************
// SPドロワー
******************************************/
.drawer-icon {
  position: relative;
  width: 40px;
  height: 20px;
  z-index: 60;

  &.is-checked {
    .drawer-icon__bar {
      background: #fff;
      &:nth-child(1) {
        top: 10px;
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        top: 10px;
        transform: rotate(-135deg);
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 3px;
  border-radius: 6px;
  background: #2082e0;
  transition: transform 0.3s linear;

  &:nth-child(2) {
    top: 10px;
  }
  &:nth-child(3) {
    top: 20px;
  }
}

.drawer-content {
  width: 428px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(34, 142, 221, 0.9) 0%,
    rgba(43, 198, 201, 0.9) 100%
  );
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  text-align: center;
  padding-top: 130px;
  transform: translateX(100%);
  transition: transform 0.7s;

  &.is-checked {
    transform: translateX(0);
  }
}

.drawer-content__logo {
  img {
    width: 180px;
  }
}

.drawer-content__menu {
  margin-top: 60.05px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.drawer-content__link {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
